
$color : #e6e9ef;
$toppg :#454c56;

body{
	background-color:$color;}
#bar{
	background-color:$toppg;
}

#title{
	text-align: center;
	padding: 10px;
	

}

nav {

	ul{ 
		
		text-align: center;
		padding-right: 20px;
		li{
			display:inline-block;
			font-size: 16pt;
			padding: 20px
		} a{
			text-decoration: none;
			color:black;
		}
	}
}

#trade {
	width:500px;
	height:500px;
}

#summary {
	font-size: 40px;
}

