<div class = "container">
	<br>
	<br>
	<div class = "row">
		<img class = "u-full-width" src="https://images.techhive.com/images/article/2015/04/8_technical-skills-100576826-gallery.idge.jpg">
	<div class = "row">
		<p id = "about">Keep your money! It's no good here. The economy isn’t working for 99% of us, so we’re building a new one. By joining Trade-Craft you’re accepting a new lifestyle, one of symbiotic exchange, abundance, and human capital. Together, our talents are limitless.</p>
	</div>
</div>
