<form method = "post">
  <div class="row">
    <div class="six columns">
      <label for="email">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
    </div>
  </div>
  <div class = "row">
    <div class = "six columns">
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width"  placeholder="write here..." id="exampleMessage"></textarea>
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </div>
</form>