<div class = "container">
	<div class = "row">
		<div class = "six columns">
			<img src="https://ad-mays.com/wp-content/uploads/2015/07/web-dev-icon.jpg">
		</div>
		<div class = "six columns">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUbMiLsU0_sjobqsIXVrUBy6bhVjgaJTssvQlJT175I4Lkf9cF">
		</div>
	</div>
	<div class = "row">
		<div class = "six columns">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9IysLYWyxQqFuiLIu_PzgvUsgmN1qr6k-Ycrf-kdCS_iTtVFN">
		</div>
		<div class = "six columns">
			
		</div>
	</div>
	<div class = "row">
		<div class = "six columns">
			
		</div>
		<div class = "six columns">
			
		</div>
	</div>
</div>