<div class = "container">
	<div class = "row">
		<div class = "five columns">
			<img id = "trade" src="http://www.tradingsig.com/images/day-trading-skills.jpg">
		</div>
		<div class = "seven columns">
			<p id = "summary"> Trade-Craft is a site where you can trade skills with other members who have the skills leveled with yours. For example: You as a web-developor can trade your skills with an accountant that can do your taxes.</p>
		</div>
	</div>
</div>